:root {
  --time: 14s
}

.card__item {
  
  animation-name: card-list-rotate;
  animation-duration: var(--time);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
}

.card__item--bear  {
  animation-delay: 0s;
}
.card__item--tiger  {
  animation-delay: -2s;
}
.card__item--wolf {
  animation-delay: -4s;
}
.card__item--panda{
  animation-delay: -6s;
}
.card__item--zebra {
  animation-delay: -8s;
}
.card__item--lion {
  animation-delay: -10s;
}
.card__item--jaguar {
  animation-delay: -12s;
}


@keyframes card-list-rotate {
  0% { left: 0%; height: 200px; z-index: 2; }
  15% {  height: 250px; z-index: 2; }
  30% {  height: 300px; z-index: 2; }
  45% {  height: 300px; z-index: 2; }
  60% {  height: 300px; z-index: 2; }
  75% {  height: 250px; z-index: 2; }
  90% { left: calc(100% - 150px); z-index: -2;  }
  100% { left: 0%; height: 200px; z-index: -2; }
}

