.card__list {
  display: flex;
  height: 400px;
  width: 1250px;
  align-items: flex-end;
  position: relative;
  border: 5px solid rgb(226, 205, 15);
}

.card__item {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 150px;
  align-items: center;
  background-color: #203661;
  margin-bottom: 50px;
  box-shadow: 0px 24px 22px 6px rgba(34,56,52,0.73);
}

.card__title {
  color: rgb(165, 129, 82);
}

.card__image {
  width: 150px;
  max-height: 150px;
  min-height: 150px;
  overflow: hidden;
  margin-bottom: 20px;
}

.card__item--bear {
  z-index: 3;
  left: 0%;
}

.card__item--tiger {
  left: 15%;
}

.card__item--wolf {
  left: 30%;
}

.card__item--panda {
  left: 45%;
}

.card__item--zebra {
  left: 60%;
}

.card__item--lion {
  left: 75%;
}

.card__item--jaguar {
  left: 90%;
}

.card__list:hover .card__item {
  animation-play-state: paused;
  cursor: pointer;
}